<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="Platform">
			<sectionGroup name="VirtualFileSystem">
				<section name="Configuration" type="Platform.VirtualFileSystem.ConfigurationSectionHandler, Platform.VirtualFileSystem"/>
			</sectionGroup>
		</sectionGroup>
	</configSections>

	<Platform>
		<VirtualFileSystem>
			<Configuration>
				<DefaultManager type="Platform.VirtualFileSystem.DefaultFileSystemManager, Platform.VirtualFileSystem"/>
				<DefaultNodeProviders>
					<NodeProvider type="Platform.VirtualFileSystem.Providers.Local.LocalNodeProvider, Platform.VirtualFileSystem">
						<Configuration>
							<NodeOperationFilters>
								<NodeOperationFilter type="Platform.VirtualFileSystem.Tests.OperationFilter, Platform.VirtualFileSystem.Tests"/>
							</NodeOperationFilters>
						</Configuration>
					</NodeProvider>
					<NodeProvider type="Platform.VirtualFileSystem.Providers.Web.WebNodeProvider, Platform.VirtualFileSystem"/>
					<NodeProvider type="Platform.VirtualFileSystem.Providers.Shadow.ShadowNodeProvider, Platform.VirtualFileSystem"/>
					<NodeProvider type="Platform.VirtualFileSystem.Network.NetworkNodeProvider, Platform.VirtualFileSystem.Network"/>
          <NodeProvider type="Platform.VirtualFileSystem.Providers.Zip.ZipNodeProvider, Platform.VirtualFileSystem.Providers.Zip"/>
					<NodeProvider type="Platform.VirtualFileSystem.Providers.Temp.TempNodeProvider, Platform.VirtualFileSystem">
						<Configuration>
							<Uri>$(TEMP)</Uri>
						</Configuration>
					</NodeProvider>
					<NodeProvider type="Platform.VirtualFileSystem.Providers.View.ViewNodeProvider, Platform.VirtualFileSystem">
						<Configuration>
							<Scheme>testview</Scheme>
							<Uri>$(TEMP)</Uri>
						</Configuration>
					</NodeProvider>
					<NodeProvider type="Platform.VirtualFileSystem.Providers.MyComputer.MyComputerNodeProvider, Platform.VirtualFileSystem">
						<Configuration>
							<Scheme>mycomputer</Scheme>
						</Configuration>
					</NodeProvider>
				</DefaultNodeProviders>
				<NodeResolutionFilters>
					<NodeResolutionFilter type="Platform.VirtualFileSystem.DataFile.DataFileResolutionFilter, Platform.VirtualFileSystem.DataFile"/>					
				</NodeResolutionFilters>
			</Configuration>
		</VirtualFileSystem>
	</Platform>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
</configuration>
